[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
pylint = "*"
bpython = "*"

[packages]
django = "==2.0"
python-decouple = "*"
dj-database-url = "*"
unipath = "*"
djangorestframework = "*"
drf-yasg = "*"

[requires]
python_version = "3.6"
